<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>modify</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body class="modify">
	<div id="wrap" class="modify">
		<th:block th:replace="~{layout/header::header(${session.loginUser})}"></th:block>
		<form id="boardForm" method="post" name="boardForm" action="/board/modify">
			<input type="hidden" name="boardnum" th:value="${board.boardnum}">
			<input type="hidden" name="pagenum" th:value="${cri.pagenum}">
			<input type="hidden" name="amount" th:value="${cri.amount}">
			<input type="hidden" name="type" th:value="${cri.type}">
			<input type="hidden" name="keyword" th:value="${cri.keyword}">
			<table border="1">
				<tr>
					<th>제목</th>
					<td>
						<input type="text" name="boardtitle" maxlength="50" th:value="${board.boardtitle}">
					</td>
				</tr>
				<tr>
					<th>작성자</th>
					<td>
						<input type="text" name="userid" maxlength="50" th:value="${session.loginUser}" readonly>
					</td>
				</tr>
				<tr>
					<th>내용</th>
					<td>
						<textarea name="boardcontents">[[${board.boardcontents}]]</textarea>
					</td>
				</tr>
			</table>
			<input type="hidden" value="" name="updateCnt" id="updateCnt">
		</form>
		<table class="btn_area">
			<tbody>
				<tr>
					<td>
						<a class="btn" href="javascript:sendit();">수정완료</a>
						<a class="btn" th:href="${'/board/list'+cri.listLink}">목록</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	window.setTimeout(function(){
		document.querySelector("#wrap>div:nth-child(1)").style.display="none";
	},1200)
	
	function sendit(){
		//유효성 검사
		document.boardForm.submit();
	}
</script>
</html>



